<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="port" value="8181"/>
    <add key="persisterType" value="none"/>
    <add key="nodemode" value="master" />

    <add key="node1path" value="localhost" />
    <add key="node1port" value="8080" />

    <!--<add key="node2path" value="localhost" />
    <add key="node2port" value="8585" />-->
    
  </appSettings>
  
</configuration>
